body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #000;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

a {
    display: block;
    color: #fff;
    margin-bottom: 12px;
    text-decoration: none;
    word-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}